#container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 200px;
    width: 200px;
    z-index: 2;
}

#top-container {
    height: 200px;
    width: 200px;
    margin:0 auto;
}

#hidden-container {
    height: 200px;
    width: 200px;
    position: absolute;
}

p {
    text-align:center;
    padding-top: 70px;
    vertical-align: middle;
}

.box {
    height: 100px;
    width: 100px;
    transition: 1000ms ease-out;
}

#red {
    background-color: red;
}

#container:hover #red {
    transform: rotate(90deg);
    transform-origin: top left;
}

#container:hover #yellow {
    transform: rotate(-90deg);
    transform-origin: top right;
}

#container:hover #blue {
    transform: rotate(90deg);
    transform-origin: bottom right;
}

#container:hover #green {
    transform: rotate(-90deg);
    transform-origin: bottom left;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

